<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <body class="container">
        <hr/>

        <hr/>
        <a href="/Home/Index">Home</a>
        
      
        <hr/>
         <br />
    <div>
        @RenderBody()
    </div>
        <br />
        <hr />
        <center><h6>Developed by ThunderBoltz*.2025 ©️</h6></center>
    </body>
</body>
</html>
