<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="registeruser" method="post">
        Name: <input type="text" name="uname" id="unm"><br/>
        email: <input type="email" name="email" id="email"><br/>
        password: <input type="password" name="pass" id="pass"><br/>
        <button type="submit" name="btn" id="register" value="register">Register</button>
    </form>
    <a href="/">Login</a>
</body>
</html>