.myheader{
   background-color: blue;
   color: white;
   border:2px solid red;
   border-radius: 20px;
   /*left:300px;*/
   padding-left:300px;
   position:relative

}

.myfooter{
    position:fixed;
    bottom:0;
    background-color: aqua;
    border:2px solid red;
    border-radius: 20px;
}