<!DOCTYPE html>

<html>
<head>
    
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body >
    <body class="container">

        <div style="float:right;font-size:medium;font-weight:bolder">Hello,@ViewBag.UserName</div> 
        <hr />
        <a href="/Home/Index">Home</a>

        <a href="/Home/About">About Us</a>
        <a href="/Home/Contact">Contact</a>
        <hr />
        <br />
         <div>
             @RenderBody()

         </div>
        <br />
        <hr />
        <center><h6>Developed by ThunderBoltz*.2025 ©️</h6></center>
    </body>
    
</body>
</html>
